<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Section</title>
  </head>
  <body class="hero-section">
    <!-- Hero Section -->
    <section class="text-center w-full px-4 mb-5">
      <h1 class="text-7xl lg:text-9xl uppercase mb-3 mt-[25%] lg:mt-[5%]">
        Frontend <br />Developer
      </h1>
      <p class="w-4-5 text-lg lg:text-2xl mb-4">
        Hi, I'm Arman. I transform your imagination into things to show the
        world
      </p>
      <button class="px-3 py-1 uppercase rounded-md cta">Contact</button>
    </section>
    <!-- Projects Section -->
    <section>
      <ul class="space-y-2">
        <!-- Each Project -->
        <li class="accordian-bg px-3 py-4 rounded-md" ng-repeat="project in projects">
          <div
            class="flex items-center justify-between  flex-wrap gap-2 px-2 mb-4"
          >
            <!-- Project Title -->
            <div class="my-2">
              <h3 class="text-4xl">{{project.label}}</h3>
            </div>

            <!-- Project Categoires -->
            <ul class="flex items-center justify-between flex-wrap gap-3" >
              <li ng-repeat="categorie in project.categories" class="px-3 py-1 accordian-categories cursor-pointer rounded-md"
                >{{categorie}}
              </li>
              
            </ul>
            <!-- Project Live Link -->
            <div>
              <button
                href="{{project.link}}"
                class="m-2 accordian-btn px-3 py-1 rounded-md uppercase"
              >
                Live Preview
              </button>
            </div>
          </div>
          <!-- Project Preview -->
          <div
            class="w-full flex items-center justify-start overflow-x-auto gap-4"
          >
            <img
            ng-repeat="preview in project.previews"
              class="w-80 h-56"
              src="{{preview.src}}"
              alt="{{preview.alt}}"
            />
            
          </div>
        </li>
      </ul>

      
      </script>
    </section>
  </body>
</html>
