<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Section</title>
  </head>
  <body class="hero-section">
    <section class="text-center w-full px-4 h-screen ">
      <h1 class="text-6xl lg:text-9xl uppercase mb-3 mt-[25%] lg:mt-[5%]">Frontend <br />Developer</h1>
      <p class="w-4-5 text-lg lg:text-2xl  mb-4">Hi, I'm Arman. I transform your imagination into things to show the world</p>
      <button class="px-3 py-1 uppercase rounded-md cta">Contact</button>
    </section>
    <section>
      
    </section>
  </body>
</html>
